<div class="jumbotron jumbotron-fluid text-center">
    <h1>{{name}}</h1>

    <div *ngIf="spotify">
        <div *ngIf="spotify.Image">
            <img height="200" width="200" src={{spotify.Image}}>
        </div>
    </div>

    <div *ngIf="wikidata.OfficialSite">
        <a href={{wikidata.OfficialSite}}>{{wikidata.OfficialSite}}</a>
    </div>

    <div *ngIf="spotify.Followers">
        <h3>Followers on Spotify</h3>
        <p>{{spotify.Followers|number}}</p>
    </div>

    <div *ngIf="spotify.Genres">
        <h3>Genres</h3>
        <ul>
            <div *ngFor="let genre of spotify.Genres">
                <li>{{genre}}</li>
            </div>
        </ul>
    </div>

</div>
