fa-icon {
    padding-right: 0.5em;
}

.genre-labels {
    display: inline-block;
}

.genre-label {
    padding: 3px;
    margin: 1px;
    background-color: var(--main-color);
    border-radius: 4px;
}

.album-titles {
    display: inline;
}

.album-title {
    font-style: italic;
    color: var(--link-color);
}

.artist-albums {
    padding: 20px;
}
