<div class="jumbotron jumbotron-fluid text-center">
    <h1 class="title"><em>{{title}}</em></h1>
    <h3 class="artist"><a *ngIf="artist != 'various artists'" routerLink="/artist/{{artist}}">{{artist}}</a></h3><p *ngIf="artist == 'various artists'">{{artist}}</p>

    <div *ngFor="let x of details">
        <!-- album cover art -->
        <div class="text-center" *ngIf="x.CoverArt">
            <img src="{{x.CoverArt}}" height="250" width="250">
        </div>
        <hr *ngIf="x.LFM_Summary">
        <div [innerHtml]= "x.LFM_Summary" class="text-center" *ngIf="x.LFM_Summary">
            <p>{{x.LFM_Summary}}</p>
        </div>
        <!-- album Spotify playlist -->
        <!-- <div *ngIf="x.SpotifyPlayer">
            <iframe src={{x.SpotifyPlayer}} width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div> -->
    </div>
</div>

<footer class="text-center">
    Album information sourced from <a href="https://last.fm">Last.fm</a>. User-contributed text is available under the Creative Commons By-SA License; additional terms may apply.
</footer>
