/* You can add global styles to this file, and also import other style files */
:root {
    --main-color: rgb(51,204,204);
    --link-color: rgb(51,204,204);
    --accent-color: rgb(50,50,50);
    --main-font: 'Verdana';
}

a {
    color: var(--link-color);
    text-decoration: none;
}
a:hover {
    color: var(--link-color);
    text-decoration: none;
}

body{
    font-family: var(--main-font);
}
