/* You can add global styles to this file, and also import other style files */
:root {
    --main-color: #9453c2;
    --link-color: #9453c2;
    --jumbo-color: #9861c2;
    --jumbo2-color: #bfa6e0;
    --accent-color: rgb(50,50,50);
    --main-font: 'Verdana';
}

a {
    color: var(--link-color);
    text-decoration: none;
}
a:hover {
    color: var(--link-color);
    text-decoration: none;
}

body{
    font-family: var(--main-font);
}
