<!DOCTYPE html>

<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="../static/js/index.js"></script>
    <title>This is my albums app.</title>
</head>

<body>
    <h1>Insert a record into the database</h1>
        <form id="insertform">
            <label for="table">Table</label>
            <select name="table">
                <option value="albums_2018">2018</option>
                <option value="albums_2019">2019</option>
            </select><br><br>
            <label for="month">Month</label>
            <input name="month"></input><br><br>
            <label for="day">Day</label>
            <input name="day"></input><br><br>
            <label for="title">Title</title>
            <input name="title"></input><br><br>
            <label for="artist">Artist</title>
            <input name="artist"></input><br><br>
            <label for="relyear">Release Year</title>
            <input name="relyear"></input><br><br>

            <button>Insert!</button>
       </form>
</body>

<footer>
        <p>E.L. 2019</p>
</footer>
</html>
