[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pylast = "==4.2.1"  #this version allows get_wiki_content (for album) to work
spotipy = "*"
flask = "*"
mysql-connector-python = "*"

[requires]
python_version = "3.8"
