<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <h2 class="display-4">
            Welcome to my-albums-app!
        </h2>
        <hr>
        <p class="lead">This is a way for me to keep track of the full albums I've listened to over the years. I also get to explore the artists and music stats!</p>
    </div>
</div>

<!-- Select table -->
<div class="container">
    <!-- section header -->
    <h2 class="text-center">Select <small class="text-muted">a year to view</small></h2>
    <div class="row">
        <div class="col"></div>
        <!-- links to tables -->
        <ul class="col list-inline text-center" *ngFor="let table of tables">
                <a routerLink="/albums/{{table.Name}}">
                    <li class="result-item">
                        <h5 class="table-year">{{table.Year}}</h5>
                        <p class="num-records">{{table.NumAlbums}} records</p>
                    </li>
                </a>
        </ul>
        <div class="col"></div>
    </div>
</div>
