.col-lg {
    background-color: var(--jumbo2-color);
    border: 3px solid;
    border-color: var(--accent-color);
    padding: 20px;
    padding-bottom: 0px;
    margin: 20px;
}

.first-last{
    margin: 0px;
    text-align: center;
}

ul{
    list-style: none;
    padding-left: 0;
}
