.lead span{
    color: var(--main-color);
    font-style: italic;
    font-size: 0.8em;
}

#stats {
    font-size: 1.1em;
}

.emphasize {
    font-size: 1.2em;
    font-weight: 600;
    color: var(--main-color);
}
