.jumbotron{
    background-color: var(--jumbo-color);
}
.album-title {
    font-style: italic;
}
.album-title, .album-artist{
    color: var(--link-color);
}
.album-title:hover, .album-artist:hover{
    color: var(--accent-color);
    text-decoration: underline var(--link-color);
}

#stats-link{
    color: var(--accent-color);
    text-decoration: none;
}

#stats-link:hover {
    color: var(--accent-color);
    text-decoration: none;
}
