.jumbotron{
    background-color: var(--main-color);
}
.album-title, .album-artist{
    background-image: linear-gradient(to right, transparent 50%, var(--main-color) 50%);
    background-size: 200%;
    transition: background-position 0.25s;
}
.album-title:hover, .album-artist:hover{
    background-position: -100%;
}
